@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700,500,300");

/*	global reset	*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

/* CSS declarations go here */
/*@keyframes bgcolor {
	0% {
	    background-color: #45a3e5;
	}
	17% {
	    background-color: #3cc;
	}
	34% {
	    background-color: #66bf39;
	}
	51% {
	    background-color: #ffa602;
	}
	67% {
	    background-color: #eb670f;
	}
	84% {
	    background-color: #f35;
	}
	100% {
	    background-color: #864cbf;
	}
}*/

body {
	min-height: 100vh;
	animation-name: bgcolor;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;    
    animation-play-state: running;
    background-color: #ff5050;
    font-family: 'Ubuntu';
    position: relative;
}

.assessment-input {
	outline: none;
    text-align: center !important;
    padding: 5px 12px;
    font-size: 20px;
    border: 3px solid #e6e6e6;
    display: inline-block;
}

.assessment-button {
    color: white;
    padding: 6px 0px;
    background-color: #333333;
    border: 3px solid #262626;
    width: 240px;
    font-size: 20px;
    outline: none;
    transition: all 0.4s ease;
}

.assessment-button:hover {
	border: 3px solid white !important;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  color: white;
}

footer a {
	text-decoration: none;
	color: white;
}

footer ul {
	padding: 0;
	margin: 0;
}

footer ul li {
	list-style-type: none;
	display: inline;
}

#add-question {
	background-color: #4dff4d;
	border: 3px solid #009900;
	width: 120px;
}

#remove-question {
	background-color: #ff5050;
	border: 3px solid #cc0000;
	width: 120px;
}

.img-radio-form input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.A{background-image:url(http://i.imgur.com/lXzJ1eB.png);}
.B{background-image:url(http://i.imgur.com/SJbRQF7.png);}
.C{background-image:url(http://i.imgur.com/lXzJ1eB.png);}
.D{background-image:url(http://i.imgur.com/SJbRQF7.png);}
.E{background-image:url(http://i.imgur.com/lXzJ1eB.png);}

.img-radio-form input:active +.img-radio{opacity: .9;}
.img-radio-form input:checked +.img-radio{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.img-radio{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.img-radio:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}
=======
footer a {
	text-decoration: none !important;
	color: white;
	transition: color 0.2s ease;
}

footer a:hover {
	color: #d9d9d9;
}