<template name="assessment">
	<form id="assessment-form">
			{{#each answers}}
				<div class="form-group">
					{{add @index}}.
					<input type="radio" name="q{{add @index}}" value="A" required>A
					<input type="radio" name="q{{add @index}}" value="B" required>B
					<input type="radio" name="q{{add @index}}" value="C" required>C
					<input type="radio" name="q{{add @index}}" value="D" required>D
					<input type="radio" name="q{{add @index}}" value="E" required>E
				</div>
			{{/each}}
		<button type="submit">Submit Assessment</button>
	</form>
</template>