<template name="edit">
	<div class="container text-center">
		<br><br><br><br>
		<h2>Edit Assessment</h2>
		<form id="new-assessment">
			{{#each questions}}
				<div class="form-group">
					{{add @index}}.
					<input type="radio" name="q{{add @index}}" value="A" required> A
					<input type="radio" name="q{{add @index}}" value="B" required> B
					<input type="radio" name="q{{add @index}}" value="C" required> C
					<input type="radio" name="q{{add @index}}" value="D" required> D
					<input type="radio" name="q{{add @index}}" value="E" required> E
				</div>
			{{/each}}
			<button id="add-question" class="assessment-button"><i class="fa fa-plus" aria-hidden="true"></i></button>
			<button id="remove-question" class="assessment-button"><i class="fa fa-minus" aria-hidden="true"></i></button>
			<br><br>
			<div class="form-group">
				<input name="name" class="assessment-input" placeholder="Assessment Name">
			</div>
			<br>

			<button class="assessment-button" type="submit">Update</button>
		</form>
		<br><br><br><br>
	</div>
</template>