<template name="edit">
	<div class="container text-center">
		<br><br><br><br>
		<h2>Edit Assessment</h2>
		<form id="edit-assessment">
			{{#each questions}}
				<div class="img-radio-form">
					<div class="form-group">
						{{add @index}}.
						<input id="A{{add @index}}" type="radio" name="q{{add @index}}" value="A" /> A
						<label class="img-radio A" for="A{{add @index}}"></label>
  		  				<input id="B{{add @index}}" type="radio" name="q{{add @index}}" value="B" /> B
    					<label class="img-radio B" for="B{{add @index}}"></label>
    					<input id="C{{add @index}}" type="radio" name="q{{add @index}}" value="C" /> C
						<label class="img-radio C" for="C{{add @index}}"></label>
    					<input id="D{{add @index}}" type="radio" name="q{{add @index}}" value="D" /> D
    					<label class="img-radio D" for="D{{add @index}}"></label>
    					<input id="E{{add @index}}" type="radio" name="q{{add @index}}" value="E" /> E
						<label class="img-radio E" for="E{{add @index}}"></label>
					</div>
				</div>
			{{/each}}
			<button id="add-question" class="assessment-button"><i class="fa fa-plus" aria-hidden="true"></i></button>
			<button id="remove-question" class="assessment-button"><i class="fa fa-minus" aria-hidden="true"></i></button>
			<br><br>
			<div class="form-group">
				<input name="name" class="assessment-input" placeholder="Assessment Name" value="{{ test.name }}">
			</div>
			<br>

			<button class="assessment-button" type="submit">Update</button>
		</form>
		<br><br><br><br>
	</div>
</template>