<template name="home">
	<div class="container text-center">
		<br><br><br><br><br>
		<h1 style="font-size: 40px">Assessment</h1>
		<br>
		<form id="token-form">
			<input id="assessment-input-id" class="assessment-input" name="token" placeholder="A2g5k" value="{{token}}">
			<div id="id" hidden>
				<br>
				<input class="assessment-input" name="student-id" placeholder="Student ID">
			</div>
			<br>
			<button class="assessment-button" type="submit" style="margin-top: 10px">Submit</button>
		</form>
	</div>
</template>