<template name="view">
	<br><br><br>
	<div class="container">
		<h2>Assessment: {{ test.name }}</h2>
		<h4>Token: {{ test.token }}</h4>
		<h4>Section: {{ test.classroom }}</h4>
		<table class="table table-striped">
			<thead>
				<tr>	
					<th>Name</th>
					<th>Score</th>
					<th>Percentage</th> 
					<th>Status</th>
					<th>Responses</th>
				</tr>
			</thead>
			<tbody>
				{{#each scores}}
				<tr>
					<td>{{getName this.studentId}}</td>
					<td>{{buildScoreString this}}</td>
					<td>{{this.percentage}}%</td>
					<td>{{buildStatusString this}}</td>
					<td>
						<ul style="height:40px;width:100px;overflow:scroll;display:inline;">
							{{#each this.answers}}
								{{#if isntF this}}
									<li class="btn btn-primary btn-sm btns" style="background-color:{{color this @index}};">{{this}}</li>
								{{/if}}
							{{/each}}
						</ul>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
		<button id="powerschool-btn" class="btn btn-primary" style="width: 100%">Submit to Powerschool</button>
		<br><br>
	</div>
	<br><br><br>
</template>